<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <div role="main" class="d-flex justify-content-center pt-3 ">
        <form class="border border-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:add_review' dealer_id %}"  method="post">
            {% csrf_token %}
            
            <h1 class="text-center">Review for {{dealer_name}}</h1><br>
            <label for="name"><b>Name</b></label>
            <br>
            <input class="form-control" type="text" placeholder="Enter Your Name: " name="name" required>
            <label for="content"><b>Review</b></label>
            <br>
            <textarea class="form-control" id="content" name="content" rows="2" required placeholder="Write your review here: "></textarea>
            <br>
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
            <label for="purchasecheck"><b>Did your purchase from this dealership?</b></label>
            <br>
            <label for="car"><b>Select vehicle (if purchased)</b></label>
            <br>
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value="{{car.car_make}}|{{car.name}}|{{ car.year|date:'Y' }}">{{ car.year|date:"Y" }} {{car.car_make}} {{car.name}}</option>
                {% endfor %}
            </select>
            
            <br>
            <label for="purchase_date"><b>Date of purchased?</b></label>
            <input class="date-own form-control" type="date" name="purchase_date" id="purchase_date">
            <br>
            <button class="btn btn-warning btn-lg" type="submit">Submit Review</button>
        </form>
    </div>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>